{% extends 'base.html' %}

{% block title %}Katalog Buku{% endblock %}

{% block content %}

{% load static %}
<div class="max-w-screen-2xl">
    <h2 class="text-2xl font-bold mb-4">Katalog Buku</h2>
    
    <div class="flex justify-between items-center mb-4">
        <div>
            <label for="favoriteFilter" class="mr-2">Filter Favorit:</label>
            <select id="favoriteFilter" class="px-4 py-2 border rounded-lg">
                <option value="all">Semua</option>
                <option value="favorite">Favorit</option>
                <option value="notFavorite">Bukan Favorit</option>
            </select>
        </div>
    </div>

    <!-- Daftar Buku -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for book in books %}
        <div class="bg-white p-4 rounded-lg shadow-md">
            {% load static %}
            <img src="{% if book.cover_image %}{{ book.cover_image.url }}{% else %}{% static 'assets/default-cover.jpg' %}{% endif %}" alt="Cover Buku" class="w-full h-40 object-cover rounded-md mb-4">
            <h3 class="font-bold text-lg">{{ book.title }}</h3>
            <p class="text-sm text-gray-600 mb-4">{{ book.description|truncatewords:20 }}</p>
            <p>File PDF: {{ book.pdf_file }}</p> <!-- Untuk memastikan PDF tersedia -->
            <div class="flex justify-between items-center">
                <button class="text-yellow-500 bookmark-btn" data-id="{{ book.id }}">
                    <!-- Bookmark Icon -->
                </button>
                <span class="text-sm text-gray-500">Genre: {{ book.genre }}</span>
            </div>
        </div>
        {% empty %}
            <p class="text-center text-gray-500 col-span-full font-bold">Tidak ada buku yang diupload.</p>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="flex justify-center items-center mt-8 space-x-2">
        <button id="firstPage" class="px-3 py-1 bg-gray-200 rounded-lg text-gray-700 text-sm" onclick="goToFirstPage()">First</button>
        <button id="prevPage" class="px-3 py-1 bg-gray-200 rounded-lg text-gray-700 text-sm" onclick="goToPrevPage()">Prev</button>
        <span id="pageStatus" class="text-gray-500 text-sm">Page 1 of 5</span>
        <button id="nextPage" class="px-3 py-1 bg-gray-200 rounded-lg text-gray-700 text-sm" onclick="goToNextPage()">Next</button>
        <button id="lastPage" class="px-3 py-1 bg-gray-200 rounded-lg text-gray-700 text-sm" onclick="goToLastPage()">Last</button>
    </div>
    
    <script src="{% static 'js/pagination.js' %}"></script>
</div>
{% endblock %}
