{% extends 'base.html' %}

{% block title %}Ubah Password{% endblock %}

{% block content %}
    <div class="max-w-md w-full p-8 bg-white shadow-lg rounded-lg mx-auto mt-10">
        <h2 class="text-2xl font-bold text-center mb-6">Ubah Password</h2>

        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="old_password" class="block text-sm font-medium text-gray-700">Password Lama</label>
                <input type="password" id="old_password" name="old_password" class="w-full px-4 py-2 border border-gray-300 rounded-lg" required>
            </div>
            <div class="mb-4">
                <label for="new_password1" class="block text-sm font-medium text-gray-700">Password Baru</label>
                <input type="password" id="new_password1" name="new_password1" class="w-full px-4 py-2 border border-gray-300 rounded-lg" required>
                {% if form.new_password1.errors %}
                    <div class="text-red-500 text-sm">
                        {% for error in form.new_password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-4">
                <label for="new_password2" class="block text-sm font-medium text-gray-700">Konfirmasi Password Baru</label>
                <input type="password" id="new_password2" name="new_password2" class="w-full px-4 py-2 border border-gray-300 rounded-lg" required>
                {% if form.new_password2.errors %}
                    <div class="text-red-500 text-sm">
                        {% for error in form.new_password2.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="flex flex-col sm:flex-row justify-between mt-6 space-y-4 sm:space-y-0 sm:space-x-4">
                <button type="submit" class="bg-green-500 text-white py-2 px-6 rounded-lg hover:bg-green-600 shadow-md w-full sm:w-auto">
                    Ubah Password
                </button>
                <a href="{% url 'profile' %}" class="bg-gray-300 text-gray-800 py-2 px-6 rounded-lg hover:bg-gray-400 w-full sm:w-auto text-center">
                    Kembali ke Profil
                </a>
            </div>            
        </form>
    </div>
{% endblock %}
